################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/bin/Debug/net6.0
/Domain/Domain/bin/Debug/net6.0
/Domain/Domain/obj
/DAL/DAL/obj
/DAL/DAL/bin/Debug/net6.0
/Assets/sqlite.db
/Assets/sqlite.db
/Assets/sqlite.db-shm
/Assets/sqlite.db-wal
